.card {
    background-image: url("..//..//assets/Card.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 512px;
    margin-right: 30px;
    border: 1px solid rgba(28, 28, 33, 1);
    border-radius: 22px;
}
.card:last-child {
    margin-right: 0;
}

.title{
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 0px 40px;
}

.name {
    font-size: 20px;
    color: rgba(228, 228, 230, 1);
    font-weight: 500;
}
.adress {
    font-size: 18px;
    font-weight: 400;
    color: rgba(98, 100, 108, 1);
}

.text {
    font-size: 20px;
    padding: 30px 40px 40px 40px;
}

.stars{
    margin: 30px 0 30px 40px;
}

@media (max-width:1600px) {
    .card {
        max-width: 408px;
        margin-right: 20px;
    }
    
    .title{
        padding: 30px 30px 0 30px;
    }
    
    .name {
        font-size: 18px;
    }
    .adress {
        font-size: 16px;
    }
    
    .text {
        font-size: 16px;
        line-height: 27px;
        padding: 24px 30px 30px 30px;
    }   
}
@media (max-width: 1115px) {
    .title {
        padding: 20px 20px 0 20px;
    }
}
@media (max-width: 1055px) {
    .card {
        margin-right: 0;
        margin-left: 20px;
        margin-top: 10px;
    }
}
@media (max-width: 600px) {
    .card:not(:first-child) {
        display: none;

    }
}