.contener {
    margin: 100px 165px 100px 162px ;
}

h5 {
   color: rgba(255, 255, 255, 1);
   font-size: 48px;
   font-weight: 600;
}

.card {
    max-width: 776.5px;
    max-height: 261px;
    background-image: url(..//..//..//assets/Card.png);
    background-repeat: no-repeat;
    border: 1px solid rgba(28, 28, 33, 1);
    border-radius: 12px;
    padding: 50px;
    margin: 15px;
}
.card h6{
    font-size: 44px;
    font-weight: 600;
    line-height: 60.1px;
    text-align: left;
}
.card p{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    margin-top: 20px;
}
.cards {
    display: flex;
}
  @media (max-width: 1440px) {
    .contener {
        margin: 0 80px 150px 80px;
    }
    .card h6{
        font-size: 34px;
    }
    .card p{
        font-size: 16px;
        margin-top: 14px;
    }
    .card {
        padding: 40px;
    }
}
@media (max-width: 1200px) {
    .contener {
        margin: 0 16px 80px 16px;
    }
  }
  @media (max-width: 600px) {
    .contener {
        flex-direction: column;
    }
    .cards {
        flex-direction: column
    }
    .card h6{
        font-size: 24px;
    }
    .card p{
        font-size: 14px;
        margin-top: 10px;
    }
    .card {
        padding: 24px;
    }
}