.contener {
    margin: 100px 165px 100px 162px ;
}

h5 {
   color: rgba(255, 255, 255, 1);
   font-size: 48px;
   font-weight: 600;
}

.card {
    max-width: 676.5px;
    max-height: 81px;
    background-image: url(..//..//..//assets/Card.png);
    background-repeat: no-repeat;
}
  @media (max-width: 1440px) {
    .contener {
        margin: 0 80px 150px 80px;
    }
}
@media (max-width: 1200px) {
    .contener {
        margin: 0 16px 80px 16px;
    }
  }
  @media (max-width: 600px) {
    .contener {
        flex-direction: column;
    }   
}