.cards {
    display: flex;
    margin: 100px 165px 100px 162px ;
}

.title {
    display: flex;
    justify-content: space-between;
    height: 206px;
    margin: 100px 165px 100px 162px ;
    border-bottom: 1px solid rgba(28, 28, 33, 1);
}
.mainTitle {
    max-width: 918px;
}

.titleBtn{
    display: flex;
    margin-top: 110px;
    align-items: center
}
.intoTitle {
    display: flex;
    max-width: 1597px;
}

@media (max-width: 1440px) {
    .cards {
        margin: 60px 87px 0 88px ;
    }

    .title{
        margin: 150px 80px 60px 80px;
    }

    .textContent {
        margin: 0 40px 0 0;
        max-width: 620px;
    }
}
@media (max-width: 1200px) {
    .cards {
        margin: 0 16px 80px 16px;
    }
  }
@media (max-width: 600px) {
    .title{
        margin: 80px 16px 40px 16px;
        flex-direction: column;
    }
    .contener {
        flex-direction: column;
    }
    .mainTitle {
    }
    .titleBtn{
        display: flex;
        margin-top: 110px;
        align-items: center
    }   
}